# Server configuration
PORT=4000
TARGET_UPLOAD_URL=
MAX_FILE_SIZE_MB=4096
CHUNK_SIZE_MB=8
UPLOAD_DIR=./uploads
VITE_STATUS_COLUMN_ID=your_status_column_id
VITE_ADBOX_TEXT_COLUMN_ID=your_text_column_id_for_adbox_id
VITE_UPLOAD_DETAILS_COLUMN_ID=your_text_or_long_text_column_id_for_upload_details
